/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
background-color: #f3f3f5;
color: #333447;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS GENERALES */
h1, h2, h3, h4, h5, h6 {
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
form {
width: 90%;
margin: 0 auto;
max-width: 600px;
padding: 0 5%;
font-size: 85%;
}
label {
display: block;
font-weight: 800;
color: #6730EC;
margin: 1.2em 0 .5em;
float: left;
}
input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: gray;
}
.btn {
transition: .5s ease all;
border-radius: 3px;
}
.btn:hover, .btn:active, .btn:focus {
transition: .5s ease all;
}
.btn-default {
border: 1px solid white;
background: none;
color: white;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
background-color: #fff;
border-color: #ccc;
}
.btn-success {
background: -webkit-linear-gradient(90deg, rgb(53, 35, 132), rgb(255, 0, 191));
background: linear-gradient(90deg, rgb(53, 35, 132), rgb(255, 0, 191));
    border: 1px solid transparent;
    border-left-color: rgb(53, 35, 132);
    border-right-color: rgb(255, 0, 191);
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
background: -webkit-linear-gradient(90deg, rgb(53, 35, 132), rgb(255, 0, 191));
background: linear-gradient(90deg, rgb(53, 35, 132), rgb(255, 0, 191));
border-color: white;
}
p {
display: block;
margin: 1em 0;
line-height: 1.4;
text-align: justify;
}
span {
border-bottom: 2px #6730EC solid;
font-weight: 700;
}
b {
font-weight: 800;
color: #6730EC;
}
small {
font-size: .8rem;
}
footer {
display: block;
width: 100%;
color: white;
padding: 1em 0;
overflow: hidden;
position: fixed;
bottom: 0;
text-align: center;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especiales para INDEX */
header {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.logo {
    background-image: url(../img/logo-white.png);
    width: 110px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 10%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
.botonera {
    text-align: center;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
}
header .btn {
    width: 45%;
}